<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/images/logo-icon2.png"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/Contacte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <title>Contacte</title>
</head>
<body>
<div class="logoheader">
        
        <div class="logo_image">
            <a href="../Index.html"><img  src="static/images/logo-icon2.png" style="width:100px;"></a>
        </div>
        <div class="logo_text">
            <h4>Direcția Generală Educație,<br> Liceul Teoretic<br> Vasile Alecsandri</h4>
        </div>
    </div>
    <header>
<nav> 
<ul class="nav_links">
<ul class="nav_links">
<li><a href="../Index.html">Acasa</a></li>
<li><a href="../html/Galerie.html">Galerie</a></li>
<li><a href="../html/Orar.html">Orar</a></li>
<li><a href="#">Contacte</a></li>
<li><a href="../html/Admitere.html">Admitere</a></li>
<li><a href="../html/TransparentaFinanciara.html">Transparenta financiara</a></li>

    </ul></ul>
</nav>
</header>
<div class="content">

    <div class="harta">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10882.895354915017!2d28.8560377!3d47.0063952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7aab7f8039b0f6b6!2sLiceul%20Teoretic%20%E2%80%9EVasile%20Alecsandri%E2%80%9D!5e0!3m2!1sro!2s!4v1646434751063!5m2!1sro!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="contact">
      <i class="fa fa-map-marker" style="font-size:36px; padding:10px;"></i><a href="https://goo.gl/maps/mtJtkEWF7jBmeomu9">Strada Mazililor 34A, Chisinau, Republica Moldova.</a><br>
      <i class="fa fa-envelope-o" style="font-size:36px; padding:10px;"></i><a href="mailto:contact@valecsandri.md">contact@valecsandri.md</a> <br>
    <i class="fa fa-phone" style="font-size:36px; padding:10px;"></i><a href="tel:+373022354822"> +373 022 354 822</a>
          <br>
          <a href="https://www.facebook.com/Liceul-Teoretic-Vasile-Alecsandri-din-Chi%C8%99in%C4%83u-989167981213494/" class="fa fa-facebook-f" style="font-size:36px; padding:10px;"></a>
          <a href="https://t.me/+U2HI3dUHP9o3MzVi" class="fa fa-telegram"style="font-size:36px; padding:10px;"></a>
          <a href="https://www.instagram.com/senatul_elevilor_alecsandri/" class="fa fa-instagram" style="font-size:36px; padding:10px;"></a>
    </div>

    </div>
    <div class="name_container">
        <h2>Contactați-ne oricând</h2></div>
    <div class="content1">
        
        <script type="text/javascript">var submitted=false;</script>
        
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='Contacte.html';}"></iframe>

        <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfK-rcHX34dlJyv-rYjGF5k4pXvRAfMESu6RDxglm1ZPRbJ_A/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
            
         <input type="text" id="fname" name="entry.140628874" required placeholder ="Nume" value=""><br>   
         <input type="email" id="lname" name="entry.206058281" required placeholder ="Email" value=""><br>
         <input type="tel" id="lname" name="entry.241689569" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" required placeholder ="Telefon" value="">
<div class="text1">
    <textarea id="subject" name="entry.552715274" required placeholder="Mesajul dumneavoastra.." style="px"></textarea></div>
<div>
    <input type="submit" value="Trimite" id="unid" class="button">
    <input  type="reset"  value="Reset" id="unid" style="" class="button">
  </div>
        </form>

    </div>
</body>
</html>
