<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/images//logo-icon2.png">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Noutati.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <meta charset="utf-8" />
 <title>Noutati</title>
</head>
<body>
    <div class="logoheader">
        
        <div class="logo_image">
            <a href="../Index.html"><img  src="static/images//logo-icon2.png" style="width:100px;"></a>
        </div>
        <div class="logo_text">
            <h4>Direcția Generală Educație,<br> Liceul Teoretic<br> Vasile Alecsandri</h4>
        </div>
    </div>

<header>
<nav> 
<ul class="nav_links">
<ul class="nav_links">
<li><a href="{{url_for('index_page')}}">Acasa</a></li>
<li><a href="{{ url_for('gallery') }}">Galerie</a></li>
<li><a href=" {{url_for('orar')}} ">Orar</a></li>
<li><a href="{{url_for('contact')}}">Contacte</a></li>
<li><a href="{{url_for('admitere')}}">Admitere</a></li>
<li><a href="{{url_for('financial')}}">Transparenta financiara</a></li>

    </ul></ul>
</nav>
</header>
<br><br><p class="title">Actual</p>
<! –– ........................................................Aici se amplaseaza 🠓🠓🠓🠓 ––>


<!-- .........................................FROM here  -->
<div class="containerprim">
    <div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//Noutati/aprilie6.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>6 aprilie 2022</h2><br>
        <p class="title">Filmări BusuiocTV</p>
        <p>Filmări Busuioctv ,emisiunea "Poftim la noi,cu Doina și Nebunu"
Mulțumim elevilor claselor a V-a și a VI-a,pentru prezentarea lor foarte bună!
Mulțumim pentru invitație Gabriel Nebunu și Doina Arsene.</p>
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    <div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//Noutati/martie26.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>26 martie 2022</h2><br>
        <p class="title">Ora Planetei</p>
        <p>PĂMÂNTUL SUFERĂ,
STINGE LUMINA!!! Elevii din clasa a XI-a ,,C,  Liceul Teoretic Vasile Alecsandri din Chișinău au demonstrat atitudine și responsabilitate față de dezvoltarea sustenabilă a mediului. Bravo elevi!<br><br> Pentru prima dată, evenimentul data fost organizat în 2007 în Australia, când mai mult de două milioane de locuinţe şi agenţi economici privaţi din
Sydney au deconectat luminile timp de o oră cu scopul de a reaminti tuturor
despre respectul faţă de natură, grija pentru resursele limitate ale Pământului
şi atenția asupra problemei schimbărilor climatice de pe planetă.</p>
<p><a style="color:#99ccff;" href="https://www.youtube.com/watch?v=xevEiZNCuUQ">Link</a></p>
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    <div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//Noutati/martie25.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>25 martie 2022</h2><br>
        <p class="title">104 ani de la Unirea Basarabiei cu România</p>
        <p>Elevii din clasa a12-a"A"și a12-a" B",împreună cu profesorul de istorieTcaci Constantin, au participat la  deschiderea expoziției istorice: România întregită - 104 ani de la Unirea Basarabiei cu România  în cadrul Muzeului de Etnografie și Istorie naturală.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
	

	<div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//NoutatiIndex/Eveniment24feb.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>14 februarie 2022</h2><br>
        <p class="title">Grigore Vieru</p>
        <p>Alecsandriştii comemorează astăzi unul dintre pilonii literaturii Basarabene – Grigore Vieru. Colectivul senatului şi elevii dornici astăzi au depus flori la monumentul acestuia în semn de recunoştință şi profundă mândrie față de mult regretatul poet.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//Noutati/valentin1.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>14 februarie 2022</h2><br>
        <p class="title">Sfântul Valentin şi Valentina aduce</p>
        <p>Aduce culoare şi zâmbete pe fețele tinerilor Alecsandrişti.<br> Astăzi învățăm să ascultăm propria inimă, asumându-ne cele mai colorate trăiri.</p>   
      </div>

       <div class="otherimage">
            <img src="static/images//Noutati/foto1.jpg" alt="error" >
        </div>
        <div class="otherimage">
            <img src="static/images//Noutati/foto2.jpg" alt="error" >
            <img src="static/images//Noutati/foto3.jpg" alt="error" >
        </div>

    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
            <img src="static/images//Noutati/mai1.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>31 mai 2021</h2><br>
        <p class="title">ULTIMUL SUNET DE CLOPOŢEL</p>
        <p>   Absolvenţii din acest an – fericiţi, cu baloane în mâini, încrezuţi în forţele proprii şi dornici de a păşi în lumea mare, s-au alineat astăzi pentru ultima dată la careul solemn, păstrând distanţa socială.
        Nu au lipsit nici surprizele pentru profesori şi diriginţi – dansuri, cântece şi dedicaţii emoţionante.</p>   
      </div>

        <div class="otherimage">
            <img src="static/images//Noutati/mai2.jpg" alt="error" >
            <img src="static/images//Noutati/mai3.jpg" alt="error" >
        </div>

    </div>
    </div>
</div> 
<!--............................................To here-->

   <!-- .........................................FROM here  -->
<div class="containerprim">
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/aprilie1.png" alt="error" ></div>
      <div class="containercoll">
        <h2>23 aprile 2021</h2><br>
        <p class="title">ADMITEREA 2021-2022</p>
        <p>,,Studiile de calitate se vor aprecia întotdeauna.
Copii secolului XXI au altă mentalitate, alte condiții și alte năzuințe.”
            VALORILE adevărate ne vor eterniza existența.
Liceul Teoretic «Vasile Alecsandri» își propune în
 2021-2022 să realizeze un program captivant și deosebit pentru Dumneavoastră:</p>  <br>
 
 <ul class=""style="text-align: ;">
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Cunoștințe temeinice;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i> Posibilitate de selectare a disciplinelor școlare;</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Climat psihologic stabil și cabinet de psihologie modern;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Condiții foarte bune pentru creșterea personalității;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Se studiază aprofund 2 limbi străine;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Avem profesori de înaltă calificare;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Instituția este amplasată în parc, într-o zona ecologică perfectă;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Mâncare sănătoasă, apă bună, activități extrașcolare diverse;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Ore de tenis de câmp;</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Activitate în diverse Cluburi pe interese, dans popular, ansamblu etnofolcloric;</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Copii cu media mai mare de 9 beneficiază de burse;</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Studiile se fac într-un schimb și sunt gratuite.</a></li><br>       
        </ul>
<p class="title">Admiterea 2021-2022 este pentru elevii claselor a V-X-a </p>
<p>Puteți accesa linkul pentru înregistrare:</p> <br>
<p><a style="color:#99ccff;" href="https://docs.google.com/forms/d/1iMoCObmNUmWo1XZ7hVyGQTmFPCidNWNZFRFv_hB73Pg/edit?usp=sharing">Formular</a></p>
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    

    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/decem1.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>4 decembrie 2020</h2><br>
        <p class="title">Proiect Educațional – Oameni, Fapte, Mărturisiri</p>
        <p>Elevii Alecsandriști din Chisinau, Iași cu cei din Chişcăreni și din Suceava dezvoltă un nou Proiect Educațional – Oameni, Fapte, Mărturisiri, la propunerea doamnei inspector Ala Apopei. Ne simţim onorați, inspirați și motivați să facem activități deosebite.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->




<!-- .........................................FROM here  -->
<div class="containerprim">
    

    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem1.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>30 noiembrie 2020</h2><br>
        <p class="title">Micii Bobocei ai Liceului</p>
        <p>Pe 30.11.2020 au fost premiați micii Bobocei ai Liceului. Felicitări claselor a V-a pentru efortul care l-au depus. Au fost extraordinari.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->


<!-- .........................................FROM here  -->
<div class="containerprim">
    

    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem2.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>27 noiembrie 2020</h2><br>
        <p class="title">Proiectul ,,Copacul Amintirilor”, partea a 2-a</p>
        <p>Astăzi elevii şi-au agăţat mesajele.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem3.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>27 noiembrie 2020</h2><br>
        <p class="title">Proiectul ,,Copacul Amintirilor”</p>
        <p>În frunte cu doamna Nicoleta, elevii claselor a XII-a au plantat copaci, fiind prima generaţie de alecsandrişti care vor avea o amintire verde la Alecsandri. În curand, pe crengile acestora vor apărea primele urări şi dorinţe pentru viitor ale claselor absolvente în anul de studii 2020-2021.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem4.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>25 noiembrie 2020</h2><br>
        <p class="title">Proiectul ,,Copacul Amintirilor”</p>
        <p>Voluntarii alecsandrişti au reamintit tuturor bărbaților că femeia trebuie protejată, ajutată, respectată.<br>
„Violența împotriva femeilor și a fetelor e o violență îndreptată împotriva întregii umanități și nu ar trebui să o tolerăm nici în Republica Moldova, nici în alt colț al lumii. Știm însă cu toții că, în ciuda strădaniilor noastre, suntem încă departe de a câștiga această bătălie”</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem5.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>23 noiembrie 2020</h2><br>
        <p class="title">Ziua Autoconducerii</p>
        <p>Zi când toţi profesorii au fost înlocuiţi de elevi pentru a le demonstra acestora cum vor ei să-i vadă – mai indulgenţi sau mai autoritari, mai calmi sau poate mai impulsivi. Iar dascălii, la rândul lor, au stat cuminţi în bănci şi au ascultat lecţiile predate de discipolii lor.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem6.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>23 noiembrie 2020</h2><br>
        <p class="title">Ziua Internaţională a Elevului / Balul Bobocilor</p>
        <p>Astazi a fost o zi mai speciala la Alecsandri. Profesorii au întâmpinat elevii cu dulciuri, muzică şi cadouri. De asemenea, a avut locul şi mult aşteptatul Bal al Boboceilor.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem7.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>21 noiembrie 2020</h2><br>
        <p class="title">Ziua Mondială a Salutului</p>
        <p>În fiecare an, la 21 noiembrie, este marcată Ziua Mondială a Salutului – un prilej ca oamenii din întreaga lume să-şi exprime preocuparea pentru Pacea Mondială. Salutul, o formă elementară de acţiune interumană, este un pas important spre realizarea înţelegerii între oamenii de rase, naţionalităţi sau religii diferite.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem8.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>19 noiembrie 2020</h2><br>
        <p class="title">Ziua Internaţională a Bărbatului</p>
        <p>Ziua Internațională a Bărbatului este sărbătorită anual la data de 19 noiembrie. Obiectivele sărbătorii includ concentrarea asupra sănătății bărbaților și băieților, îmbunătățirea relațiilor dintre sexe, promovarea egalității între sexe și prezentarea de modele masculine de urmat. Este o ocazie pentru a evidenția discriminarea față de bărbați și băieți și pentru a sărbători realizările și contribuțiile lor, în special contribuțiile lor la comunitate, familie, căsătorie și grija de copii.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/noiem9.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>4 noiembrie 2020</h2><br>
        <p class="title">Personalităţi marcante în vizită la Liceu – Vasile Dumbravă</p>
        <p>La Alecsandri am reluat proiectul ,,Întâlnire cu 7 oameni interesanți“.<br>
Astăzi, 4 noiembrie, am avut deosebita plăcere să îl avem ca oaspete pe Vasile Dumbravă, vicepreședintele Moldova – Institut Leipzig, profesor, istoric și un om minunat.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/oct23.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>23 octombrie 2020</h2><br>
        <p class="title">Lecţie de informare – TRAFICUL DE FIINŢE UMANE</p>
        <p>Astăzi am avut parte de o lecție de informare din partea doamnei Rodica Moraru Chiliman, directorul Centrului de Asistență și Protecție a Victimelor și Potențialilor Victime a Traficului de Ființe Umane și doamna Aliona Bucuci, procuror în secția Combaterea Traficului de Ființe Umane a Procuraturii Generale.<br>
            
        </p><br>  
        <p class="title">Ce trebuie să cunoaştem despre traficul de fiinţe umane? </p>
        <ul class=""style="text-align: ;">
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Anual, în lume circa 600.000 – 820.000 de persoane sunt traficate peste graniţa de stat, aici nefiind incluse şi cele care sunt traficate în interiorul statelor, număr care poate atinge cifre de milioane;</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i> Circa 70% din numărul persoanelor traficate sunt femei şi fete, care în mare majoritate sunt impuse să practice prostituţia;</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Aproximativ 50% din numărul persoanelor traficate sunt minori, care sunt exploataţi sexual, muncă silită sau le sunt preluate organele.</a></li><br> 
  </ul>
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/oct233.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>23 octombrie 2020</h2><br>
        <p class="title">Halloween</p>
        <p>Halloween este o sărbătoare de origine celtică, preluată astăzi de multe popoare din lumea occidentală, ea răspândindu-se în secolul al XIX-lea prin intermediul imigranților irlandezi din Statele Unite ale Americii. Este sărbătorită în noaptea de 31 octombrie, deși în unele țări data sărbătorii variază — alecsandriştii au sărbătorit astăzi dat fiind faptul că de luni începe vacanța.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/oct2333.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>23 octombrie 2020</h2><br>
        <p class="title">Personalităţi marcante în vizită la Liceu – Igor Şarov</p>
        <p> La 23 octombrie 2020 l-am avut ca oaspete pe domnul Ministru al Educației,Culturii și Cercetării, domnul Igor Șarov.</p>   
        <ul class=""style="text-align: ;">
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Oficialul a discutat cu directorul instituției, Daniela Vacarciuc și cadrele didactice despre: performanțele instituționale; dotarea instituției de învățământ cu tehnică de calcul; formarea continuă a cadrelor didactice; asigurarea elevilor cu manuale școlare; statutul profesorului în societate; desfășurarea procesului educațional în contextul pandemiei virusului Covid-19, etc.</a></li><br> 
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i> „Mă bucur că pe lângă păstrarea unor puternice tradiții educaționale, Liceul Teoretic „Vasile Alecsandri” este pe deplin deschis provocărilor viitorului. Potențialul didactic al corpului profesoral fiind unul foarte valoros, acest lucru materializându-se în succesele discipolilor.” a afirmat ministrul Igor Șarov</a></li><br>
 <li><a ><i class="fa fa-angle-right" aria-hidden="true"></i>Pentru înaltă măiestrie didactică, contribuție remarcabilă în promovarea educației de calitate, cultivarea valorilor general-umane, ministrul Igor Șarov a decernat diploma Ministerului Educației, Culturii și Cercetării unui grup de cadre didactice.</a></li><br> 
  </ul>
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/oct21.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>21 octombrie 2020</h2><br>
        <p class="title">Ziua Zâmbetului</p>
        <p>Zâmbeşte! Nu ştii niciodată cui îi poţi face ziua mai frumoasă cu zâmbetul tău.
Chiar dacă purtăm măști, ochii noștri transmit emoții! O zi frumoasă petrecută alături de cei mai frumoşi elevi şi profesori.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/oct5.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>5 octombrie 2020</h2><br>
        <p class="title">Ziua naţională a lucrătorului din învăţământ</p>
        <p>Probabil cea mai aşteptată sărbătoare a profesorilor şi elevilor. Această zi corespunde cu Ziua Mondială a Profesorului, declarată de UNESCO. Cu cele mai frumoase urări de bine şi surprize am întâlnit mult-iubiţii noştri dascăli în pragul şcolii, chiar de dimineaţă. Primul sunet de clopoţel din această zi a fost însoţit de zâmbete şi activităţi menite să pună în valoare profesia de pedagog.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/sept30.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>30 septembrie 2020</h2><br>
        <p class="title">Jubileul de 30 ani a Liceului</p>
        <p>Se împlinesc trei decenii de la fondarea LT „Vasile Alecsandri”, ani frumoşi, plini de bucurii şi succese. Ani în care instituţia a fost cea de-a doua casă pentru cei peste 6000 de elevi dornici de carte şi de cunoştinţe. Indiferent de intemperii şi încercări, alecsandriştii au fost o forţă generatoare de idei, promotori ai adevăratelor valori, fără a avea frica  de obstacole şi provocări. La 30 septembrie curent, cei 30 de ani ai liceului au fost celebraţi solemn, cu mare fast, alături de elevii claselor a V-a, a X-a, a XI-a şi a XII-a. Pentru elevii cu performanţe deosebite, cu media mai mare de nota 9, au fost decernate diplome şi burse, în semn de apreciere pentru succese şi efortul depus pe parcursul anului 2020.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/sept25.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>25 septembrie 2020</h2><br>
        <p class="title">Voluntariat</p>
        <p>Precum nişte albinuţe, elevii, împreună cu profesorii, ordonează curtea şcolii. Fiecare clasă are terenul său pentru îngrijire – cineva plantează flori, altcineva – salubrizează terenul. Împreună suntem o echipă mare şi prietenoasă. Iar rezultatul este pe potriva aşteptărilor. La finalul zilei nimeni nu a plecat acasă obosit! Satisfacţia şi bucuria lucrului bine făcut este remediul împotriva oricărei oboseli.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/sept21.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>21 septembrie 2020</h2><br>
        <p class="title">Ziua Internaţională a Păcii</p>
        <p>Devenită o tradiţie, celebrăm Ziua Păcii în instituţie alături de elevi şi profesori. Nu lipsesc nici Hulubaşii – cel mai pur simbol al Păcii. An de an încercăm să transmitem cele mai sincere mesaje şi urări de bine prin diverse campanii, flashmob-uri sau activităţi educaţionale. Codul vestimentar al acestei zile este culoarea albă.</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/iun5.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>5 iunie 2020</h2><br>
        <p class="title">Promotia 2020</p>
        <p>Da, anul acesta a fost un pic altfel. Emoțiile însă au rămas la fel de tari.
Au trecut trei ani frumoși de liceu și acum mă simt pregătită să intru intr-o nouă dimensiune a vieții.
Le mulțumesc profesorilor pentru orele făcute cu dedicație, colegilor pentru amintiri frumoase și nu în ultimul rând părinților pentru suport și dragoste necondiționată!</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/iun1.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>1 iunie 2020</h2><br>
        <p class="title">Gala Laureaților 2020</p>
        <p>Gala Laureaților 2020 la Liceul „Vasile Alecsandri”.
Felicitări, copii! Mulțumim dragi colegi pentru consecutivitate, inspirație și perseverență. Mulțumim dragi părinți pentru încredere, pentru copii frumoși și bine educați! Vivat Alecsandri!</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->

<!-- .........................................FROM here  -->
<div class="containerprim">
    
    <div class="column">
    <div class="card">
        <div class="imagcentru">
           <img src="static/images//Noutati/mai311.jpg" alt="error" ></div>
      <div class="containercoll">
        <h2>31 mai 2020</h2><br>
        <p class="title">Ultimul sunet 2020</p>
        <p>Careul Ultimului Sunet.<br>
Sărbătoarea Vârstei Școlii și Copiilor!<br>
Ultimul sunet pentru promoția 2020.<br>
Dor de voi, copii frumoși.<br>
Liceul “ Vasile Alecsandri” va înscrie în Cartea Celor mai frumoase amintiri și vă așteaptă să reveniți!</p>   
      </div>
    </div>
    </div>
</div> 
<!--............................................To here-->


<!--........................................................ Arrow up-->
<div class="arrowup">
    <a href="#"><img class="arrowimg" src="static/images//arrowup.png"></a>
</div>

    <! –– ....................................................Footer ––>
    <footer>
        <div class="contprincipal">
            <div class="harta">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10882.895354915017!2d28.8560377!3d47.0063952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7aab7f8039b0f6b6!2sLiceul%20Teoretic%20%E2%80%9EVasile%20Alecsandri%E2%80%9D!5e0!3m2!1sro!2s!4v1646434751063!5m2!1sro!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

        <div class="cont1">

    <i class="fa fa-map-marker" style="font-size:36px; padding:10px;"></i><a href="https://goo.gl/maps/mtJtkEWF7jBmeomu9">Strada Mazililor 34A, Chisinau, Republica Moldova.</a><br>
    <i href="#" class="fa fa-envelope-o" style="font-size:36px; padding:10px;"></i><a href="mailto:contact@valecsandri.md">contact@valecsandri.md</a> <br>
    <i class="fa fa-phone" style="font-size:36px; padding:10px;"></i><a href="tel:+373022354822"> +373 022 354 822</a>  

        </div>

<div class="cont3" style="padding-top: 20px;">
                           
                            <ul class="importantlinks">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;Link-uri importante:</h4>
                                <li><a href="https://www.ance.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Agentia nationala</a></li><br>   
                                <li><a href="http://ctice.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Tehnologii Info.</a></li><br>    
                                <li><a href="https://chisinauedu.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Directia Generala Educatiei</a></li><br>  
                                <li><a href="https://mec.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministerul Educatiei</a></li>  
                            </ul>
        </div>

        <div class="cont2">

 <a href="https://www.facebook.com/Liceul-Teoretic-Vasile-Alecsandri-din-Chi%C8%99in%C4%83u-989167981213494/" target="_blank" class="fa fa-facebook-f" style="font-size:36px; padding:10px;"></a>
    <a href="https://t.me/+U2HI3dUHP9o3MzVi" target="_blank" class="fa fa-telegram"style="font-size:36px; padding:10px;"></a>
    <a href="https://www.instagram.com/senatul_elevilor_alecsandri/" target="_blank" class="fa fa-instagram" style="font-size:36px; padding:10px;"></a>   

    </div></div>

    <p class="copyright">Liceul Teoretic "Vasile Alecsandri" © 2022</p>
    </footer>
</body>
</html>
