<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/images/logo-icon2.png"> 
    <link rel="stylesheet" href="static/css/Transparent.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <meta charset="utf-8" />
 <title>Transparenta Financiara</title>
</head>
<body>
    <div class="logoheader">
        
        <div class="logo_image">
            <a href="../Index.html"><img  src="static/images/logo-icon2.png" style="width:100px;"></a>
        </div>
        <div class="logo_text">
            <h4>Direcția Generală Educație,<br> Liceul Teoretic<br> Vasile Alecsandri</h4>
        </div>
    </div>
    <header>
<nav> 
<ul class="nav_links">
<ul class="nav_links">
<li><a href="{{url_for('index_page')}}">Acasa</a></li>
<li><a href="{{ url_for('gallery') }}">Galerie</a></li>
<li><a href=" {{url_for('orar')}} ">Orar</a></li>
<li><a href="{{url_for('contact')}}">Contacte</a></li>
<li><a href="{{url_for('admitere')}}">Admitere</a></li>
<li><a href="{{url_for('financial')}}">Transparenta financiara</a></li>

    </ul></ul>
</nav>
</header>

<! –– .......................................................Iframe Transparenta f. (from here) ––>
<div class="content">
<h2 class="title">Liceul Teoretic &quot;Vasile Alecsandri&quot;<br>subordonantă Direcției, tineret și sport sectorul Botanica</h2>
<div class="Transparent">
<iframe width="1147" height="571" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQhgDNiPjnNC6E7yqOLpM1mApw_VPPV3zY5B19Id2ANJssUCKdnfWIs2S0bb3uVlA/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
    </div>
 <! –– ...............................................................to here ––>

<! –– .......................................................Transparenta financiara PDF ––>
<p class="title">Transparenta Financiara Format PDF:</p>
    <div class="containerdespre">
        <div class="pdfcolection" style="width:200px;">
            <ul class="">

            <li class="fa fa-book" style="font-size:24px"></li><a href="static/pdf/TF.pdf" target="_blank">TF. 2022</a><br>
          
        </ul>
        </div>
    </div><br>
<! –– ...............................................................to here ––>
    
   <! –– ............................................................Footer ––>
    <footer>
        <div class="contprincipal">
            <div class="harta">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10882.895354915017!2d28.8560377!3d47.0063952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7aab7f8039b0f6b6!2sLiceul%20Teoretic%20%E2%80%9EVasile%20Alecsandri%E2%80%9D!5e0!3m2!1sro!2s!4v1646434751063!5m2!1sro!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

        <div class="cont1">

    <i class="fa fa-map-marker" style="font-size:36px; padding:10px;"></i><a href="https://goo.gl/maps/mtJtkEWF7jBmeomu9">Strada Mazililor 34A, Chisinau, Republica Moldova.</a><br>
    <i href="#" class="fa fa-envelope-o" style="font-size:36px; padding:10px;"></i><a href="mailto:contact@valecsandri.md">contact@valecsandri.md</a> <br>
    <i class="fa fa-phone" style="font-size:36px; padding:10px;"></i><a href="tel:+373022354822"> +373 022 354 822</a>  

        </div>

<div class="cont3" style="padding-top: 20px;">
                           
                            <ul class="importantlinks">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;Link-uri importante:</h4>
                                <li><a href="https://www.ance.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Agentia nationala</a></li><br>   
                                <li><a href="http://ctice.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Tehnologii Info.</a></li><br>    
                                <li><a href="https://chisinauedu.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Directia Generala Educatiei</a></li><br>  
                                <li><a href="https://mec.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministerul Educatiei</a></li>  
                            </ul>
        </div>

        <div class="cont2">

 <a href="https://www.facebook.com/Liceul-Teoretic-Vasile-Alecsandri-din-Chi%C8%99in%C4%83u-989167981213494/" target="_blank" class="fa fa-facebook-f" style="font-size:36px; padding:10px;"></a>
    <a href="https://t.me/+U2HI3dUHP9o3MzVi" target="_blank" class="fa fa-telegram"style="font-size:36px; padding:10px;"></a>
    <a href="https://www.instagram.com/senatul_elevilor_alecsandri/" target="_blank" class="fa fa-instagram" style="font-size:36px; padding:10px;"></a>   

    </div></div>

    <p class="copyright">Liceul Teoretic "Vasile Alecsandri" © 2022</p>
    </footer>
</body>
</html>
