html,body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
a{
	text-decoration: none;
}
.title{
/*border: 5px solid black;*/
	margin: 0px 0px 20px 0px;
	font-size: 30px;
	text-align: center;
}
p{
	text-align: center;
}
@media screen and (max-width: 944px) { .nav_links li 
 {display:block; text-align:center; }  }
/*....................................................Logo_header*/
.logoheader{
padding: 8px;
  }
.logo_image{
  float: left;
  padding-right: 10px;
}
.logo_text{
}
.logoheader:hover {
  background-color: #555;
}
@media screen and (max-width: 400px) { .logoheader{
 font-size: 14px;
 }  }

 /*.................................................Bara de navigare */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
li,a,button{
font-family:"Montserrat", sans-serif;
font-weight: 500;
font_size: 16px;
color: #edf0f1;
text-decoration:none;

}

header {
 justify-content: space-between;
 padding: 30px 10%;
/* border: 5px solid #ccff33;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24252A;
  
}
/*.lofo{
cursor:pointer;

}*/
.nav_links{
list-style:none;
}
.nav_links,li{
display: inline-block;
padding: 0px 20px;
}
.nav_links li a {
transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
color: #0088a9;
}

/*................................................Content*/
.containerprim{
  height: px;
}
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

/* .....................................Dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #24252A;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: white;
}

/*......................................... Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*..................................................pozitionare*/
.containerdespre{
/*border: 5px solid red;*/
  max-width: 1330px;
  margin: 0px auto;
  padding: 30px 15px;
display: flex;
/*align-items: center;*/
justify-content: center ;
}
.contcollcentru{
   max-width: 1800px;
  margin: 0px auto;
  padding: 30px 15px;
display: flex;
justify-content: center ;
}

/*...................................................News coloane*/
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.containercoll {
  padding: 0 16px;
}

.containercoll::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
/*.......................................Formular*/
.name_container{
  display: flex;
/*align-items: center;*/
justify-content: center ;
}
.content1{
 /* border: 5px solid red;*/
  max-width: 1330px;
  margin: 0px auto;
  padding: 20px 15px ;
  padding-bottom: 100px;
display: flex;
/*align-items: center;*/
justify-content: center ;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.text1{
padding-top: 11px;
}
 textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
/*............................................Buton*/
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #24252A;
  text-align: center;
  cursor: pointer;
  width: 150px;
}

.button:hover {
  background-color: #555;
}
.button:focus {
background-color:black;
}
/*..................................................PDF*/
.pdfcolection{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 500px;
  padding: 20px;
}
.pdfcolection a{
  color: #fff;
}
.pdfcolection a:hover{
  color: #0088a9;
}
   /*.............................................Footer*/
footer {
  height: 300px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #24252A;
   color: white;
   padding-top: 12px;
   	 
}
.contprincipal{
	display: flex;
/*align-items: center;*/
justify-content: center;

}
.harta{
	display: flex;
/*align-items: center;*/
justify-content: center;
	border-left: 1px solid #9AA3A4;
	margin-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.cont1, .cont2, .cont3{
	border-left: 1px solid #9AA3A4;
}
.cont2{
	display: flex;
/*align-items: center;*/
justify-content: center;
	padding-top: 50px;
}
.cont3{
  display: flex;
/*align-items: center;*/
justify-content: center;
}
.cont1 a{
	color: #fff;
	transition: 1s;
}
.cont1 a:hover{
	color: #0088a9;
	font-size: 105%;
	transform: scale(1.5);
}
.cont3 a{
  color: #fff;
}
.cont3 a:hover{
  color: #0088a9;
}
.cont2 a{
	color: #fff;
	transition: 1s;

}
.cont2 a:hover{
	color: #0088a9;
	font-size: 105%;
	transform: scale(1.5);
}

.copyright{
margin-top: 70px;
}
.importantlinks{
   list-style-position:outside
}
/*................................Footer..grid,media.....*/
  .contprincipal{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
gap: 50px;
 }
  @media screen and (max-width: 1219px) { .contprincipal  {
 grid-template-columns: 1fr;
 }  }
 @media screen and (max-width: 1219px) { .contprincipal  {display: grid;
 gap: 0;
 }  }
  @media screen and (max-width: 1219px) { .harta, .cont1, .cont2, .cont3{
 border-left: 0;	
 border-top: 1px solid #9AA3A4;
 }  }
 @media screen and (max-width: 1219px) { .copyright{
 margin-top: 30px;
 }  }
 @media screen and (max-width: 1219px) { footer{
 	height: 670px;
 }  }
  @media screen and (max-width: 1219px) { .cont1{
 padding-left: 400px;
 }  }
 @media screen and (max-width: 1000px) { .cont1{
 padding-left: 260px;
 }  }
 @media screen and (max-width: 900px) { .cont1{
 padding-left: 250px;
 }  }
 @media screen and (max-width: 844px) { .cont1{
 padding-left: 150px;
 }  }
  @media screen and (max-width: 600px) { .cont1{
 padding-left: 4px;
 }  }
 @media screen and (max-width: 730px) { .cont2, .cont3{
 padding-top: 30px;
 }  }

