<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="images/logo-icon2.png"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <meta charset="utf-8" />
 <title>Acasa</title>
</head>
<body>
<div class="logoheader">
		
		<div class="logo_image">
			<a href="#"><img  src="static/images/logo-icon2.png" style="width:100px;"></a>
		</div>
		<div class="logo_text">
			<h4>Direcția Generală Educație,<br> Liceul Teoretic<br> Vasile Alecsandri</h4>
		</div>
	</div>
<header>
<nav> 
<ul class="nav_links">
<ul class="nav_links">
<li><a href="{{url_for('index_page')}}">Acasa</a></li>
<li><a href="{{ url_for('gallery') }}">Galerie</a></li>
<li><a href=" {{url_for('orar')}} ">Orar</a></li>
<li><a href="{{url_for('contact')}}">Contacte</a></li>
<li><a href="{{url_for('admitere')}}">Admitere</a></li>
<li><a href="{{url_for('financial')}}">Transparenta financiara</a></li>

    </ul></ul>
</nav>
	</header>	

<! –– ....................................................Slide-show ––>
	
<div class="slideshow-container">

<div class="mySlides fade">
  <img src="static/images/IndesSlide/VAl.jpg" style="width:100%">
</div>

<div class="mySlides fade">
   <img src="static/images/IndesSlide/Education.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="static/images/IndesSlide/hands-up.jpg" style="width:100%">
</div>

</div>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<! –– ....................................................Despre noi ––>
	<br><br><h2 class="title">Despre</h2>
	<div class="containerdespre">

	<p>
		Liceul Teoretic ,,Vasile Alecsandri’’ îşi propune să dezvolte un mediu favorabil învăţăturii. Să le ofere elevilor un start solid în educaţie, prin dezvoltarea deprinderilor, competenţelor şi îmbogăţirea cunoştinţelor, prin modelarea personalităţii lor. De asemenea doreşte să devină o mini-comunitate ordonată, atentă, care va satisface nevoile fiecărui elev, de a se simţi competent în a deţine şi utiliza informaţia, deschis spre schimbare, spre învăţarea şi respectarea valorilor unei societaţi democratice. Scopul educaţiei este transferul de cunoştiinţe, iar Liceul nostru le transmite mai departe, pentru ca educaţia întregii lumi este mai presus de orice.
	</p></div>


<! –– ...........................................................Coloana de noutati ––>
	<br> <p class="title">Actual</p>
	<div class="contcollcentru">
  <div class="row">
<! –– ......................................................................Aici se amplaseaza 🠓🠓🠓🠓 ––>



 <! –– ...........................................................from here ––> 
  <div class="column">
    <div class="card">
      <img src="static/images/NoutatiIndex/Eveniment24feb.jpg" alt="error" style="width:100%">
      <div class="containercoll">
        <h2>14 februarie 2022</h2><br>
        <p class="title">Grigore Vieru</p>
        <p>Alecsandriştii comemorează astăzi unul dintre pilonii literaturii Basarabene – Grigore Vieru. Colectivul senatului şi elevii dornici astăzi au depus flori la monumentul acestuia în semn de recunoştință şi profundă mândrie față de mult regretatul poet.</p>   
      </div>
    </div>
	</div>
<! –– ...........................................................to here ––>

<! –– ...........................................................from here ––> 			 
  <div class="column">
    <div class="card">
      <img src="static/images/NoutatiIndex/Eveniment31mai.jpg" alt="error" style="width:100%">
      <div class="containercoll">
      	<h2>31 mai 2022</h2><br>
        <p class="title">ULTIMUL SUNET</p>
        <p> Absolvenţii din acest an – fericiţi, cu baloane în mâini, încrezuţi în forţele proprii şi dornici de a păşi în lumea mare, s-au alineat astăzi pentru ultima dată la careul solemn, păstrând distanţa socială. Nu au lipsit nici surprizele pentru profesori şi diriginţi – dansuri, cântece şi dedicaţii emoţionante.</p>
      </div>
    </div>
	</div>
<! –– ...........................................................to here ––> 

 <! –– ...........................................................from here ––> 	

  <div class="column">
    <div class="card">
      <img src="static/images/NoutatiIndex/Eveniment4dec.jpg" alt="error" style="width:100%">
      <div class="containercoll">
        <h2>04 decembrie 2020</h2><br>
        <p class="title">Proiect Educațional – Oameni, Fapte, Mărturisiri</p>
        <p>Elevii Alecsandriști din Chisinau, Iași cu cei din Chişcăreni și din Suceava dezvoltă un nou Proiect Educațional – Oameni, Fapte, Mărturisiri, la propunerea doamnei inspector Ala Apopei. Ne simţim onorați, inspirați și motivați să facem activități deosebite.</p>
      </div>
    </div>
	</div>
<! –– ...........................................................to here ––> 	


	</div>
	</div>

	<div class="containerdespre">
		<a href="{{url_for('noutati')}}"><button class="button" >Mai multe</button></a>
	</div><br>
<! –– ....................................................Rubrica material important(pdf) ––>	
	<p class="title">Material important:</p>
	<div class="containerdespre">
		<div class="pdfcolection" style="width:500px">
			<ul class="">
            <li class="fa fa-book" style="font-size:24px"></li><a href="static/pdf/Plan de lucru Nou.pdf" target="_blank">Plan de lucru</a><br>
			<li class="fa fa-book" style="font-size:24px"></li><a href="static/pdf/Statutul liceului.pdf" target="_blank">Statutul liceului</a><br>
			<li class="fa fa-book" style="font-size:24px"></li><a href="static/pdf/Proiectul meu nou.pdf" target="_blank">Proiectul liceului</a><br>
			<li class="fa fa-book" style="font-size:24px"></li><a href="static/pdf/Regulamentul liceului.pdf" target="_blank">Regulamentul liceului</a><br>
			
		</ul>
		</div>
	</div>
<! –– .................................................... ––>	

	<br><br>


	<! –– ....................................................Formular ––>	
        <p class="title">Contactați-ne oricând</p>
   
     <div class="containerdespre">
        
        <script type="text/javascript">var submitted=false;</script>
        
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='Index.html';}"></iframe>

        <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfK-rcHX34dlJyv-rYjGF5k4pXvRAfMESu6RDxglm1ZPRbJ_A/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
            
         <input type="text" id="fname" name="entry.140628874" required placeholder ="Nume" value=""><br>   
         <input type="email" id="lname" name="entry.206058281" required placeholder ="Email" value=""><br>
         <input type="tel" id="lname" name="entry.241689569" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" required placeholder ="Telefon" value="">
<div class="text1">
    <textarea id="subject" name="entry.552715274" required placeholder="Mesajul dumneavoastra.." style="px"></textarea></div>
<div>
    <input type="submit" value="Trimite" id="unid" class="button">
    <input  type="reset"  value="Reset" id="unid" style="" class="button">
  </div>
        </form>

    </div>

<! –– ....................................................Footer ––>
    <footer>
        <div class="contprincipal">
            <div class="harta">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10882.895354915017!2d28.8560377!3d47.0063952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7aab7f8039b0f6b6!2sLiceul%20Teoretic%20%E2%80%9EVasile%20Alecsandri%E2%80%9D!5e0!3m2!1sro!2s!4v1646434751063!5m2!1sro!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

        <div class="cont1">

   <i class="fa fa-map-marker" style="font-size:36px; padding:10px;"></i><a href="https://goo.gl/maps/mtJtkEWF7jBmeomu9">Strada Mazililor 34A, Chisinau, Republica Moldova.</a><br>
    <i href="#" class="fa fa-envelope-o" style="font-size:36px; padding:10px;"></i><a href="mailto:contact@valecsandri.md">contact@valecsandri.md</a> <br>
    <i class="fa fa-phone" style="font-size:36px; padding:10px;"></i><a href="tel:+373022354822"> +373 022 354 822</a>  

        </div>

<div class="cont3" style="padding-top: 20px;">

  <ul class="importantlinks">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;Link-uri importante:</h4>
                                <li><a href="https://www.ance.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Agentia nationala</a></li><br>	
                                <li><a href="http://ctice.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Tehnologii Info.</a></li><br>	
                                <li><a href="https://chisinauedu.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Directia Generala Educatiei</a></li><br>	
                                <li><a href="https://mec.gov.md/"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministerul Educatiei</a></li>	 
                            </ul>
        </div>

        <div class="cont2">

 <a href="https://www.facebook.com/Liceul-Teoretic-Vasile-Alecsandri-din-Chi%C8%99in%C4%83u-989167981213494/" target="_blank" class="fa fa-facebook-f" style="font-size:36px; padding:10px;"></a>
    <a href="https://t.me/+U2HI3dUHP9o3MzVi" target="_blank" class="fa fa-telegram"style="font-size:36px; padding:10px;"></a>
    <a href="https://www.instagram.com/senatul_elevilor_alecsandri/" target="_blank" class="fa fa-instagram" style="font-size:36px; padding:10px;"></a>   

    </div></div>

    <p class="copyright">Liceul Teoretic "Vasile Alecsandri" © 2022</p>
    </footer>

<script>
var slideIndex = 0;
showSlides();

function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 6500); // Change image every 6.5 seconds
}
</script>
</body>
</html>
